
/* footer */
footer {
    position: relative;
    width: 100%;
}
.navbar-nav.navbar-nav-footer {
    line-height: 2;
}

/* footer media queries */
@media (max-width: 800px) {
    html {
        font-size: 14px;
    }

    .navbar-nav.navbar-nav-footer {
        flex-direction: row;
    }
    .navbar-nav.navbar-nav-footer .nav-item {
        padding: 0 0.5rem;
    }
}
